* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(/assets/images/new-floor.jpg);
}

.head {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.head img {
    width: 500px;
}

button {
    width: 200px;
    height: 100px;
    margin:auto;
    display:block;
    border: none;
    background-color: white;
    font-size: 70px;
}

button:hover {
    background-color: #E5E5E5;
}

.center {
    display: flex;
}

.card {
    width: 400px;
    height: 250px;
    margin: 30px 30px 30px 30px; 
    padding: 15px;
    border-radius: 10px;
    border: black 2px solid;
    display: inline-block;
}
.tile-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.score {
    text-align: center;
}

@media screen and (max-width: 2315px) {
  .card {
    width:350px;
    height:200px;
  }
}

.lit {
    opacity: 1 !important;
}

.unclick {
    pointer-events: none;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
}

.info {
    font-size: 30px;
}

.align {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.shadow {
    -webkit-box-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
}

.tile-red {
    background-color: red;
    opacity: 0.5;
}
.tile-green {
    background-color: green;
    opacity: 0.5;
}
.tile-blue {
    background-color: blue;
    opacity: 0.5;
}
.tile-yellow {
    background-color: yellow;
    opacity: 0.5;
}
.tile-pink {
    background-color: pink;
    opacity: 0.5;
}
.tile-purple {
    background-color: purple;
    opacity: 0.5;
}
.tile-gray {
    background-color: gray;
    opacity: 0.5;
}
.tile-aqua {
    background-color: aqua;
    opacity: 0.5;
}
.tile-orange {
    background-color: orange;
    opacity: 0.5;
}

.tile-brown {
    background-color: brown;
    opacity: 0.5;
}
.tile-moss {
    background-color: darkolivegreen;
    opacity: 0.5;
}
.tile-violet {
    background-color: violet;
    opacity: 0.5;
}
.tile-gold {
    background-color: gold;
    opacity: 0.5;
}
.tile-silver{
    background-color: silver;
    opacity: 0.5;
}
.tile-rose{
    background-color: salmon;
    opacity: 0.5;
}
.tile-navy{
    background-color: navy;
    opacity: 0.5;
}

.wall {
    object-fit: fill;
    height: 100%;
}