* {
  box-sizing: border-box;
}

.head {
    text-align: center;
    font-size: 40px;
}

.head img {
    width: 500px;
}

button {
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
}

.center {
    display: flex;
}

.card {
    width: 400px;
    height: 250px;
    margin: 30px 30px 30px 30px; 
    padding: 15px;
    border-radius: 10px;
    border: black 2px solid;
    display: inline-block;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}


/* Grid System */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}

@media screen and (max-width: 2315px) {
  .card {
    width:350px;
    height:200px;
  }
}