.head {
    text-align: center;
    font-size: 40px;
}

.head img {
    width: 500px;
}

button {
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
}